* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container, .modal-content {
    font-family: 'Roboto', sans-serif;
    /* Alkalmazzuk minden címre és gombra is */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #2c2c2c, #1a1a1a); /* Finom színátmenet */
}

#drawingCanvas {
    border: 4px solid #ff6600; /* Narancssárga szegély */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    background-color: #333333; /* Sötétszürke játéktér */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444; /* Sötét modal háttér */
    color: #fff; /* Fehér szöveg */
    padding: 20px;
    border: 4px solid #ff6600; /* Narancssárga szegély */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    /*z-index: 10;*/
}

.modal-content {
    text-align: center;
}

.modal h2 {
    font-size: 2em;
    color: #ffcc00; /* Aranysárga szín a győztes kiíráshoz */
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(255, 204, 0, 0.6);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    width: 200px;
    font-size: 1em;
    cursor: pointer;
    background-color: #00ff00; /* Élénk zöld gomb */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #66ff66; /* Világosabb zöld hover hatás */
}
